/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h4,
h5,
h6 {
    color: rgb(106, 141, 151);
}
nav {
    background: rgba(255, 255, 255, 0.582);
}

.nav-link {
    color: salmon;
}

.navbar-brand {
    color: salmon;
}

header {
    background-color: rgba(224, 224, 224, 0.548);
    height: 200px;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-beer-000_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=0192701d7f37804134cbb67842828fbb);
    background-position: 0px -220px;
    background-attachment: fixed;  
}

.titulo {
    color: rgb(133, 133, 133);
    text-align: center;
}

h3 {
    color: rgb(153, 235, 255);
    text-align: center;
}

main {
    margin-top: 5px;
}

.sobre {
    padding: 20px 40px;
    text-align: center;
}

#skills {
    text-align: center;
}

h5  {
    text-align: center;
}

#experiencia {
    margin-left: 10vw;
}

#experiencia1 {
    margin-left: 5vw;
}

#formacao {
    margin-bottom: 50px;
}

[href="#top"] {
    background-color: salmon;
    color: #000000;
    text-transform: lowercase;
    border-radius: 30px;
    display: block;
    padding: 5px 10px;
    border: 2px solid #fff;
    text-decoration: none;
    transition: all 0.8s ease-in-out;
    /* Trabalhando para deixar o position fixo no bottom */
    position: fixed;
    bottom: 12px;
    right: 12px;
}

.rede-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

[href="#top"]:hover {
    background-color: rgb(255, 255, 255);
    border-color: salmon;
    color: rgb(0, 0, 0);

}
/* [data-func*="minha foto"] {
    border-radius: 50%;
    transition: transform 0.8s ease-in-out;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.85));
    margin-top: 10px;
} */