/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding: 32px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(170, 221, 255);
}

header {
    background-color: rgba(224, 224, 224, 0.548);
    top: 0;
    text-align: center;
}
main {
    border: 1px solid rgb(224, 224, 224);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
[data-func*="minha foto"] {
    border-radius: 50%;
    transition: all 0.8s ease-in-out;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.85));
}

[data-func*="minha foto"]:hover {
    transform: rotate(180deg);
}
[href="#top"] {
    background-color: rgb(170, 221, 255);
    color: #ffffff;
    text-transform: lowercase;
    border-radius: 30px;
    position: fixed;
    display: block;
    bottom: 12px;
    right: 12px;
    padding: 5px 10px;
    border: 2px solid #fff;
    text-decoration: none;
    transition: all 0.8s ease-in-out;
}
[href="#top"]:hover {
    background-color: #fff;
    border-color: rgb(170, 221, 255);
    color: rgb(170, 221, 255);

}
