/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding: 32px;
}
h1,
h4,
h5,
h6 {
    color: rgb(0, 85, 50);
}
header {
    background-color: rgba(224, 224, 224, 0.548);
    height: 200px;
    padding-top: 60px;
    padding-left: 180px;
    background-image: url(https://cdn.pixabay.com/photo/2020/07/08/08/07/daisy-5383056_1280.jpg);
    background-position: 0px -220px;
    background-attachment: fixed;  
}

h2 {
    color: rgb(255, 255, 255);
}

h3 {
    color: rgb(0, 85, 50);
    text-align: center;
}
.cargo-atual {
    color: lightgray;
}

[data-func*="minha foto"] {
    border-radius: 50%;
    transition: transform 0.8s ease-in-out;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.85));
    margin-top: 10px;
}

main {
    margin-top: 5px;
}

.sobre {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.destaque {
    margin-top: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

[href="#top"] {
    background-color: rgb(255, 247, 170);
    color: #000000;
    text-transform: lowercase;
    border-radius: 30px;
    display: block;
    padding: 5px 10px;
    border: 2px solid #fff;
    text-decoration: none;
    transition: all 0.8s ease-in-out;
    /* Trabalhando para deixar o position fixo no bottom */
    position: fixed;
    bottom: 12px;
    right: 12px;
}
[href="#top"]:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 251, 0);
    color: rgb(0, 0, 0);

}

@media screen and (min-width: 2000px) {
    body {
        background-color: rgb(170, 255, 208)
    }
}